:root {
    --red: #E50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base elements */

body {
    background: var(--black);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}

header .container {
    border: 1px solid black;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

header .container nav {
    margin-left: 2em;
}

header .logo {
    margin-left: 0.1em;
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 2em;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 1em;
}

header nav a:hover {
    color: #AAA;
}

header .container img {
    width: 8em;
}

/* main movie */

.main-movie {
    font-size: 1.5em;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../img/breadking-bad-logo.jpg');

    height: 90vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-top: 0.2em;
}

.main-movie .title {
    font-size: 1.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0.2em;
}

.btn {
    background-color: rgba(109, 109, 110, 0.7);
    border: none;
    color: white;
    padding: 0.8em;
    margin-right: 0.4em;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 4px;
    opacity: 1;
    padding: 0.8rem;
    margin-top: 1em;
    font-weight: 400;
    line-height: 2.4rem;
}

.btn i {
    margin-right: 0.1em;
}

#watch-now {
    background-color: white;
    color: black;
}

#informations:hover {
    background-color: rgba(109,109,110,0.4);
    transition: .3s ease all;
}

#watch-now:hover {
    background-color: rgba(255, 255, 255, 0.75);
    transition: .3s ease all;
}

.container {
    margin-left: 1em;
}

.main-movie .container {
    width: 80%;
}

.movie-box {
    height: 100%;
    width: 100%;
    display: block;
}

.owl-carousel {
    margin-top: 1em;
}